* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.slider {
    width: 600px;
    margin: auto;
    margin-top: 3rem;
}


.slides {}

.slides>img {
    max-width: 100%;

}

img:not(.active) {
    display: none;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.prev,
.next {
    font-size: 2rem;
    background-color: gray;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .25rem;
    transform: translateY(-225px);


}