* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}


.slides>img {
    max-width: 100%;

}

img:not(.active) {
    display: none;
}

.opacity {
    opacity: 1;
}

img:not(.opacity) {
    opacity: 50%;
}

.thumbnails {
    border: 1px solid black;
    height: 400px;
    width: 200px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnails>img {
    height: calc(100%/4);
}

.controls {
    display: flex;
    justify-content: space-between;
}

.prev,
.next {
    font-size: 2rem;
    background-color: gray;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .25rem;
    transform: translateY(-225px);


}